html,
body {
  margin: 0;
  height: 100%;
  min-width: 320px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

#root {
  height: 100%;
  overflow: hidden;
}
